/* Global */

:root {
    --blue: #0065fc;
    --light-blue: #deebff;
    --grey: #f2f2f2;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    max-width: 1500px;
    width: auto;
    margin: 0 auto;
}

/* Header + Nav */

header {
    display: flex;
    padding: 1px;
    justify-content: space-between;
    margin: 0 4% 0 4%;
}

#logo {
    padding: 2px 10px;
    margin: 0px 0px 10px 0px;
}

#logo img {
    width: 130px;
}

h1 {
    font-size: 25px;
    flex-wrap: wrap;
}

.child {
    margin-bottom: 20px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0px 0px 0px;
}

header nav ul li {
    padding: 10px 25px;
    border-top: 4px solid transparent;
    margin: 0px 5px 0px 0px;
}

header nav ul li:hover {
    border-color: var(--blue);
}

header nav ul li:hover a {
    color: var(--blue);
}

.settings {
    margin: 0 4% 0 4%;
}

.searchbox {
    display: flex;
    width: 100%;
    margin-bottom: 3%;
}
form {
    display: flex;
    width: 100%;
}
.searchbar {
    height: 50px;
    border: none;
    padding: 0px 0px 0px 20px;
    border: 1px solid var(--grey);
    font-weight: bold;
    width: 300px;
}


.fa-search {
    display: none;
}

button {
    background-color: var(--blue);
    color: white;
    height: 50px;
    width: 120px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-weight: bold;
}

#filters-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#filters-box .filters {
    margin: 0px 10px;
    border-radius: 30px;
    border: 2px solid var(--grey);
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 1s;
}

#filters-box .filters i {
    background-color: var(--light-blue);
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 100%;
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#filters-box .filters:hover {
    background: #0065fc;
    color: #fff;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

#filters-box .filters .texte {
    padding: 0px 10px;
}

.fa-map-marker-alt {
    height: 20px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--grey);
}

#info {
    display: flex;
    align-items: center;
}
#info h3 {
    font-size: 16px;
    font-weight: lighter;
}
#info .fas.fa-info {
    color: var(--blue);
    border: 1px solid var(--grey);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i.fas.fa-info {
    margin: 0px 15px 0px 0px;
}

/* Hotels + Populaires */

#host {
    display: flex;
    justify-content: space-between;
    margin: 2% 4% 2% 4%;
}

#host h2 {
    font-size: 23px;
    margin: 0 0 2% 0;
}

#host section {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    width: 59%;
    border-radius: 20px;
    padding: 40px;
    margin-right: 5%;
}

#host section .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 420px;
}

#host section .box div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#host section .box div article {
    background-color: white;
    border-radius: 20px;
    height: 200px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    cursor: pointer;
}


#host .box article img {
    height: 120px;
    width: 100%;
    object-fit: cover;
    padding: 2px 2px 2px 0px;
    border-radius: 20px 20px 0px 0px;
}

.box article h3 {
    font-size: 15px;
    margin: 6px 6px 6px 6px;
}

.box article .subtitle {
    margin: 3px 6px 6px 6px;
    font-size: 0.8em;
}

.box article .star {
    font-size: 12px;
    margin: 3px 6px 6px 6px;
}

.fas.fa-star.blue {
    color: var(--blue);
}

.fas.fa-star.grey {
    color: var(--grey);
}

#host a {
    font-size: 18px;
    margin: 10% 0 0 0.5%;
    font-weight: bold;
    width: 107px;
}

#host a:hover {
    border-bottom: 1px solid black;
}

aside {
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 5px 0px 10px 0px;
}

aside div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

aside article {
    background: white;
    border-radius: 20px;
    height: 150px;
    margin: 0px 0px 15px 7%;
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

aside article img {
    width: 35%;
    height: 140px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    margin: 5px 0px 0px 5px;
}

aside .most_popular {
    display: flex;
    flex-direction: row;
    height: 90px;
}

aside .most_popular h2 {
    font-size: 23px;
    padding: 33px 0px 10px 33px;
}

aside article h3 {
    font-size: 0.9em;
    font-weight: bold;
    margin: 6px;
}

.fas.fa-chart-line {
    font-size: 1.5em;
    padding: 25px;
    margin-top: 10px;
}

aside div article div {
    padding: 5px;
    margin: 0px 40px 10px 0px;
}


aside div article div .subtitle {
    font-size: 0.8em;
    margin: 6px;
}

aside div article div .star {
    font-size: 12px;
    margin: 40px 6px 6px 6px;
}

/* Section Activités */

#activity {
    margin: 0 4% 5% 4%;
}

#activity h2 {
    font-size: 24px;
    margin: 60px 0 20px 0;
}


#activity .container {
    display: flex;
    justify-content: space-between;
}

.box1 {
    display: flex;
    justify-content: space-between;
    width: 47%;
}

.box2 {
    width: 47%;
    display: flex;
    justify-content: space-between;
}

.box1 .firstcard {
    height: 440px;
    width: 46%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    border-radius: 20px;
}

.box1 .firstcard img {
    height: 90%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.secondcard {
    height: 444px;
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secondcard1 {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    border-radius: 20px;
    height: 210px;
}

.secondcard1 img {
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.secondcard2 {
    height: 165px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

.secondcard2 img {
    height: 115px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.box2 .firstcard {
    height: 446px;
    width: 45%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    border-radius: 20px;
    margin: 0 30px 0 0;
}

.box2 .firstcard img {
    height: 90%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.secondcard3 {
    height: 196px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
} 
.secondcard4 {
    height: 198px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

.secondcard3 img {
    height: 145px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.secondcard4 img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#activity article h3 {
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

.firstcard, .secondcard1, .secondcard2, .secondcard3, .secondcard4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Footer */

footer {
    background-color: var(--grey);
    display: flex;
    width: auto;
    max-width: 1600px;
    padding: 40px 0px 0px 40px;
}

footer .block {
    padding: 10px 10px;
    width: 30%;
}

footer .block h4 {
    font-size: 20px;
    font-weight: bold;
}

footer .block ul {
    list-style-type: none;
    padding: 0px;
}

footer .block li {
    cursor: pointer;
    margin: 0px 0px 0px 0px;
}

footer .block ul li a {
    color: black;
    text-decoration: none;
    line-height: 35px;
}

footer .block a:hover {
    border-bottom: 1px solid black;
}

/* Tablette */

@media screen and (max-width: 992px) {
    main {
        height: auto;
    }


    #host {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }

    #host aside {
        height: 580px;
        width: 100%;
    }

    #host .box, #host aside {
        width: 100%;
    }

    #host aside div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    #host aside .most_popular {
        all: unset;
        display: flex;
        justify-content: space-between;
        height: 12%;
    }

    aside div article {
        padding: 0;
        margin: 10px 20px;
        width: 95%;
        height: 150px;
        display: flex;
        flex-flow: column wrap;
    }
    aside div article img {
        height: 140px;
    }
    aside article div {
        height: 180px;
        width: 60%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    #host section {
        width: 98%;
        padding: 0;
        margin: 0px 0px 0px 8px;
        background-color: white;
    }

    #host section h2 {
        margin-top: 10%;
        margin-bottom: 5%;
    }

    #host section .box {
        padding: 0px 0px 0px 0px;
    }
    
    #host section article {
        margin-bottom: 2%;
    } 

    br {
        display: none;
    } 

    #host a {
        margin-top: 8%;
    }

    #activity .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 900px;
    }

    .box1 .secondcard {
        margin-bottom: 20px; 
    }

    .box2 .firstcard {
        width: 46%;
    }

    .box1, .box2 {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

/* Mobile */

@media screen and (max-width: 768px) {
    body {
        padding: 0px 0px;
    }

    main {
        height: auto;
    }

    header {
        display: flex;
        flex-direction: column;
    }
    
    .searchbox {
        margin-bottom: 5%;
    }

    .searchbar {
        border: none;
        width: 100%;
    }

    .settings .searchbox form  {
        border: 2px solid #f2f2f2;
        border-right: none;
        border-radius: 16px 16px 16px 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    button span{
        display: none;
    }

    .fa-search{
        display: inline;
    }

    button{
        width: 55px;
        border: none;
        height: 50px;
        border-radius: 16px 16px 16px 16px;
    }

    #filters-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 350px;
    }

    nav ul li {
        border-bottom: 4px solid transparent;
        border-color: var(--grey)
    }
    nav ul li:hover {
        border-bottom: 4px solid transparent;
        border-color: var(--blue);
        border-top: unset;
    }

    #host {
        padding:0;
    }
    #host aside article {
        width: 91.5%;
    }
    #host aside div{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #host aside h2{
        margin: 3px;
    }


    #host h2 {
        margin: 15px;
    }

    header #logo {
        margin: auto;
    }

    #host section {
        padding: 0px;
    }

    #host section .box div {
        flex-direction: column;
        margin: 0px 0px 0px 0px;
        justify-content: space-between;
        height: 650px;
        width: 100%;
    }

    #host section .box {
        height: 1330px;
        width: 100%;
    }

    #host section .box div article {
        width: 93%;
        margin: 0 0 0 1.5%; 
    }

    header nav ul {
        margin: 0px -20px;
        padding: 0;
}

    header nav ul li {
        width: 50%;
        padding: 20px;
        text-align: center;
        margin: 0px;
}
    #activity{
        height: 1360px;
        margin: 45px 15px 0 15px;
    }

    #activity article, .secondcard4 {
    
        margin: 10px 0px 10px 0px;
    
    }

    .box1 .firstcard img, .box2 .firstcard img, .secondcard1 img, .secondcard2 img, .secondcard3 img, .secondcard4 img {
        height: 75%;
    }

    .box1 .firstcard, .box2 .firstcard, .secondcard, .secondcard1 ,.secondcard2, .secondcard3, .secondcard4 {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .box1 .firstcard, .box2 .firstcard, .secondcard1 ,.secondcard2, .secondcard3, .secondcard4 {
        margin: 10px 0px 10px 0px;
    }

    .box1, .box2 {
        height: 200px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    footer {
        margin-top: 20%;
        flex-direction: column;
    }

    footer .block li {
        width: 260px;
    }
}

